#tudo{
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}
table{
    border-collapse: separete;
    min-width: 100%;
}
table, tr, td, th{
    border: solid 1px black;
}
td,th{
    padding: 10px;
}
input{
    margin: 5px 0px;
    padding: 10px;
    min-width: 100%;
}
input[type="submit"]{
    min-width:207px
}
.pesquisa{
    min-width: 77%;
}
.img-responsive{
    max-width: 23px;
    margin-left: 10px;
}
.img-anime{
    max-width: 150px;
    margin-left: 25px;
}